<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/bootstrap.css') }}">
    <meta charset="UTF-8">
    <title>TodoApp</title>
</head>
<body>
{% include 'navbar.html' %}
  {% block content %}

  {% endblock %}
  <script src="{{ url_for('static', path='/js/jquery-slim.js') }}"></script>
  <script src="{{ url_for('static', path='/js/popper.js') }}"></script>
  <script src="{{ url_for('static', path='/js/bootstrap.js') }}"></script>
<!--   defer-we want to run/load this code base.js at last because we need to check for id's on the page-->
  <script src="{{ url_for('static', path='/js/base.js') }}" defer></script>
</body>
</html>